page-transacao {

    #numberInput{
        font-size:50px;
        border-bottom:1px solid black;
    }

    #coinSymbol{
        padding-top:9%;
        font-size:3.4rem;
    }

    .toastSucess{
        background:green;
        color:white;
    }

    .toastError{
        background: red;
        color:white;
    }

  
}
